body {
  font-family: "Noto Sas";
  background-color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.form-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 25px;
  width: 100%;
  max-width: 400px;
}

.form-container h2 {
  text-align: center;
  color: #003366;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 20px;
}

label {
  font-weight: 600;
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
  color: #000;
}

input, select, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
  border-color: #003366;
  outline: none;
}

textarea {
  resize: vertical;
}

.checkbox-container {
  display: flex;
  align-items: center;        /* centra verticalmente */
  gap: 8px;                   /* pequeño espacio entre checkbox y texto */
  font-size: 13px;
  margin-top: 10px;
  color: #000;
  line-height: 1.4;
}

.checkbox-container input[type="checkbox"] {
  accent-color: #003366;      /* color del check */
  width: 20px;
  height: 20px;
  margin: 0;                  /* elimina espacio extra */
  cursor: pointer;
}

.checkbox-container label {
  margin: 0;
  cursor: pointer;
}

.checkbox-container a {
  color: #0066cc;
  text-decoration: none;
}

.checkbox-container a:hover {
    text-decoration: none;
}


button {
  margin-top: 15px;
  width: 100%;
  background-color: #003366;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00254d;
}
